.headerGaleria {
    align-items: center;
    margin-top: 200px;
    text-align: center;
    display: flex;
    font-size: 100px;
}
.fotos {
    text-align: center;
    margin: 0 0 80px 550px;
    font-size: 70px;
    color: yellow;
}
.AstronautGallery{
    float: right;
    position: absolute;
    margin: 0px 0px 100px 1000px;
}
.planetGallery{
    margin: 15px 0 60px 0;
    width: 350px;
    height: 200px;
}